.footer-img{padding: 15px;};
.fa-facebook-square{color: blue;}
.socialWrapper{margin: auto}
body{background-image: url(assets/alagbado%20tv%20logo.jpg);}
@media screen and (max-width:680px){(background-image)width:100%;}
.eze{background-color: #2db300;}
