@media screen and (max-width:680px){body{background-image:();}};
.footer-img{padding: 15px;};
.fa-facebook-square{color: blue;}
.socialWrapper{margin: auto;}
body{background-image: url(assets/alagbado%20tv%20logo.jpg);}
.modal-image{padding-top: 15px;border-radius: 10px;}
.eze{background-color: #2db300;}