.jumbotron{text-align: center; background: none;}
.container-fluid{background-color: #2db300;}
.backgroundColor{ background-image: linear-gradient(red, yellow, green);}
.col-sm :hover{background-color: chartreuse; padding:  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px; 
border-radius: 7px;}
h1, p{line-height: 3rem; font-family: fantasy;}
.buttonWords{line-height: 1rem; font-family: fantasy;margin: auto;padding-top: 4%; padding-bottom: 4%;}
