
.jumbotron{text-align: center; background: none;}
h1, p{line-height: 3rem; font-family: fantasy;}
.buttonWords{line-height: 1rem; font-family: fantasy;margin: auto;padding-top: 4%; padding-bottom: 4%;}


.eze{background-color: #2db300;}


.backgroundColor{ background-image: linear-gradient(red, yellow, green);}


.d-block{padding:  padding-top: ;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
border-radius: 15px;
box-shadow: 5px;}


.frameDiscription{margin: auto;}
.buttonWords{line-height: 1rem; font-family: fantasy;margin: auto;padding-top: 4%; padding-bottom: 4%;}



.footer-img{padding: 15px;};
.fa-facebook-square{color: blue;}
.socialWrapper{margin: auto}
